---
import { Image } from 'astro:assets';
// Image imports
import frontGarden2 from '../assets/front-garden-2.jpg';
import livingRoom1 from '../assets/living-room-1.jpg';
import kitchen1 from '../assets/kitchen-1.jpg';
import fireplace from '../assets/fireplace.jpg';
import mainBedroom1 from '../assets/main-bedroom-1.jpg';
import secondBedroom1 from '../assets/second-bedroom-1.jpg';
import hallway from '../assets/hallway.jpg';
import enSuiteBathroom1 from '../assets/en-suite-bathroom-1.jpg';
import separateBathroom1 from '../assets/separate-bathroom-1.jpg';
import livingRoom3 from '../assets/living-room-3.jpeg';
import livingRoom4 from '../assets/living-room-4.jpeg';
---

<div id="cottageGallery" class="relative w-full" data-carousel="static">
   <div class="relative h-64 overflow-hidden rounded-lg md:h-96">
      <div data-carousel-item class="duration-700 ease-in-out">
         <Image
            src={frontGarden2}
            alt="Private garden and outdoor space"
            class="object-cover w-full h-full"
            data-modal-toggle="cottageModal"
         />
      </div>
      <div data-carousel-item class="duration-700 ease-in-out">
         <Image
            src={livingRoom1}
            alt="Living room with comfortable seating area"
            class="object-cover w-full h-full"
            data-modal-toggle="cottageModal"
         />
      </div>
      <div data-carousel-item class="duration-700 ease-in-out">
         <Image
            src={kitchen1}
            alt="Fully equipped kitchen with modern appliances"
            class="object-cover w-full h-full"
            data-modal-toggle="cottageModal"
         />
      </div>
      <div data-carousel-item class="duration-700 ease-in-out">
         <Image
            src={fireplace}
            alt="Cozy fireplace in the living area"
            class="object-cover w-full h-full"
            data-modal-toggle="cottageModal"
         />
      </div>
      <div data-carousel-item class="duration-700 ease-in-out">
         <Image
            src={mainBedroom1}
            alt="Main bedroom with king-size bed"
            class="object-cover w-full h-full"
            data-modal-toggle="cottageModal"
         />
      </div>
      <div data-carousel-item class="duration-700 ease-in-out">
         <Image
            src={secondBedroom1}
            alt="Second bedroom with twin beds"
            class="object-cover w-full h-full"
            data-modal-toggle="cottageModal"
         />
      </div>
      <div data-carousel-item class="duration-700 ease-in-out">
         <Image
            src={hallway}
            alt="Welcoming hallway entrance"
            class="object-cover w-full h-full"
            data-modal-toggle="cottageModal"
         />
      </div>
      <div data-carousel-item class="duration-700 ease-in-out">
         <Image
            src={enSuiteBathroom1}
            alt="En-suite bathroom with shower and modern fittings"
            class="object-cover w-full h-full"
            data-modal-toggle="cottageModal"
         />
      </div>
      <div data-carousel-item class="duration-700 ease-in-out">
         <Image
            src={separateBathroom1}
            alt="Separate bathroom with shower"
            class="object-cover w-full h-full"
            data-modal-toggle="cottageModal"
         />
      </div>
      <div data-carousel-item class="duration-700 ease-in-out">
         <Image
            src={livingRoom3}
            alt="Back door to back patio with washing machine visible"
            class="object-cover w-full h-full"
            data-modal-toggle="cottageModal"
         />
      </div>
      <div data-carousel-item class="duration-700 ease-in-out">
         <Image
            src={livingRoom4}
            alt="Dining area with view of back patio seating area"
            class="object-cover w-full h-full"
            data-modal-toggle="cottageModal"
         />
      </div>

      <!-- Prev/Next buttons -->
      <button data-carousel-prev class="absolute top-0 left-0 z-30">‹</button>
      <button data-carousel-next class="absolute top-0 right-0 z-30">›</button>
   </div>

   <!-- Lightbox (Flowbite Gallery) -->
   <div
      id="cottageModal"
      tabindex="-1"
      class="fixed inset-0 z-40 hidden overflow-y-auto bg-black/80"
      aria-hidden="true">
      <div class="relative w-full h-full flex items-center justify-center p-4">
         <div
            id="cottageGalleryModal"
            data-carousel="static"
            class="relative w-full max-w-4xl">
            <div data-carousel-item class="duration-700 ease-in-out">
               <Image
                  src={frontGarden2}
                  alt="Private garden and outdoor space"
                  class="object-cover w-full h-full"
                  data-modal-toggle="cottageModal"
               />
            </div>
            <div data-carousel-item class="duration-700 ease-in-out">
               <Image
                  src={livingRoom1}
                  alt="Living room with comfortable seating area"
                  class="object-cover w-full h-full"
                  data-modal-toggle="cottageModal"
               />
            </div>
            <div data-carousel-item class="duration-700 ease-in-out">
               <Image
                  src={kitchen1}
                  alt="Fully equipped kitchen with modern appliances"
                  class="object-cover w-full h-full"
                  data-modal-toggle="cottageModal"
               />
            </div>
            <div data-carousel-item class="duration-700 ease-in-out">
               <Image
                  src={fireplace}
                  alt="Cozy fireplace in the living area"
                  class="object-cover w-full h-full"
                  data-modal-toggle="cottageModal"
               />
            </div>
            <div data-carousel-item class="duration-700 ease-in-out">
               <Image
                  src={mainBedroom1}
                  alt="Main bedroom with king-size bed"
                  class="object-cover w-full h-full"
                  data-modal-toggle="cottageModal"
               />
            </div>
            <div data-carousel-item class="duration-700 ease-in-out">
               <Image
                  src={secondBedroom1}
                  alt="Second bedroom with twin beds"
                  class="object-cover w-full h-full"
                  data-modal-toggle="cottageModal"
               />
            </div>
            <div data-carousel-item class="duration-700 ease-in-out">
               <Image
                  src={hallway}
                  alt="Welcoming hallway entrance"
                  class="object-cover w-full h-full"
                  data-modal-toggle="cottageModal"
               />
            </div>
            <div data-carousel-item class="duration-700 ease-in-out">
               <Image
                  src={enSuiteBathroom1}
                  alt="En-suite bathroom with shower and modern fittings"
                  class="object-cover w-full h-full"
                  data-modal-toggle="cottageModal"
               />
            </div>
            <div data-carousel-item class="duration-700 ease-in-out">
               <Image
                  src={separateBathroom1}
                  alt="Separate bathroom with shower"
                  class="object-cover w-full h-full"
                  data-modal-toggle="cottageModal"
               />
            </div>
            <div data-carousel-item class="duration-700 ease-in-out">
               <Image
                  src={livingRoom3}
                  alt="Back door to back patio with washing machine visible"
                  class="object-cover w-full h-full"
                  data-modal-toggle="cottageModal"
               />
            </div>
            <div data-carousel-item class="duration-700 ease-in-out">
               <Image
                  src={livingRoom4}
                  alt="Dining area with view of back patio seating area"
                  class="object-cover w-full h-full"
                  data-modal-toggle="cottageModal"
               />
            </div>
         </div>
         <button
            data-modal-hide="cottageModal"
            class="absolute top-4 right-4 text-white text-3xl">×</button
         >
      </div>
   </div>
</div>
