---
import { Image } from 'astro:assets';

import { Fancybox } from '@fancyapps/ui';
import '@fancyapps/ui/dist/fancybox/fancybox.css';

// Image imports
import frontGarden2 from '../assets/front-garden-2.jpg';
import livingRoom1 from '../assets/living-room-1.jpg';
import kitchen1 from '../assets/kitchen-1.jpg';
import fireplace from '../assets/fireplace.jpg';
import mainBedroom1 from '../assets/main-bedroom-1.jpg';
import secondBedroom1 from '../assets/second-bedroom-1.jpg';
import hallway from '../assets/hallway.jpg';
import enSuiteBathroom1 from '../assets/en-suite-bathroom-1.jpg';
import separateBathroom1 from '../assets/separate-bathroom-1.jpg';
import livingRoom3 from '../assets/living-room-3.jpeg';
import livingRoom4 from '../assets/living-room-4.jpeg';
---

<div>
  <Image
    src={frontGarden2}
    alt="Private garden and outdoor space"
    class="object-cover w-full h-full"
  />
</div>

<!-- <div data-carousel-item class="duration-700 ease-in-out">
  <Image
    src={livingRoom1}
    alt="Living room with comfortable seating area"
    class="object-cover w-full h-full"
  />
</div>
<div data-carousel-item class="duration-700 ease-in-out">
  <Image
    src={kitchen1}
    alt="Fully equipped kitchen with modern appliances"
    class="object-cover w-full h-full"
  />
</div>
<div data-carousel-item class="duration-700 ease-in-out">
  <Image
    src={fireplace}
    alt="Cozy fireplace in the living area"
    class="object-cover w-full h-full"
  />
</div>
<div data-carousel-item class="duration-700 ease-in-out">
  <Image
    src={mainBedroom1}
    alt="Main bedroom with king-size bed"
    class="object-cover w-full h-full"
  />
</div>
<div data-carousel-item class="duration-700 ease-in-out">
  <Image
    src={secondBedroom1}
    alt="Second bedroom with twin beds"
    class="object-cover w-full h-full"
  />
</div>
<div data-carousel-item class="duration-700 ease-in-out">
  <Image
    src={hallway}
    alt="Welcoming hallway entrance"
    class="object-cover w-full h-full"
  />
</div>
<div data-carousel-item class="duration-700 ease-in-out">
  <Image
    src={enSuiteBathroom1}
    alt="En-suite bathroom with shower and modern fittings"
    class="object-cover w-full h-full"
  />
</div>
<div data-carousel-item class="duration-700 ease-in-out">
  <Image
    src={separateBathroom1}
    alt="Separate bathroom with shower"
    class="object-cover w-full h-full"
  />
</div>
<div data-carousel-item class="duration-700 ease-in-out">
  <Image
    src={livingRoom3}
    alt="Back door to back patio with washing machine visible"
    class="object-cover w-full h-full"
  />
</div>
<div data-carousel-item class="duration-700 ease-in-out">
  <Image
    src={livingRoom4}
    alt="Dining area with view of back patio seating area"
    class="object-cover w-full h-full"
  />
</div> -->
